* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #607196;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

header {
    color: #fff;
    background: linear-gradient(to top, rgba(255,255,255.0.5),rgba(255,255,255.0.5));
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.navbar {
    height: 75px;
    margin: 0px;
    background-color: #313e5a;
    box-shadow: 0px 0px 12px #313e5a;
}

.icon {
    width: 400px;
    float: left;
    height: 70px;
}

.logo {
    color: #ffc759;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 360px;
    float: left;
    height: 70px;
    margin-left: 400px;
}


.navbar img {
    height: 55px;
    width: 55px;
    color: white;
    float: left;
    margin-left: 40px;
    padding-top: 15px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 86px;
    margin-top: 27px;
    font-size: 15px;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ffc759;
}

.content {
    width: 1200px;
    margin: 184px 0 184px 160px;
    color: white;
    background-position: center center;
    background-image: url('news-pages/img/news.webp');
}

span {
    color: #ffc759;
}

.content h2 {
    font-size: 48px;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 32px;
}

main {
    margin: 40px 0 0 0;
    background-color: #ffffff;
    margin: 0px auto;
}

.container {
    width: 1200px;
    padding: 80px 0 160px 0;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-container section {
    width: 386.6666px;
    padding: 0 12px 0 12px;
}

section h2 {
    font-size: 32px;
    padding-bottom: 30px;
}

section p, label, button{
    font-size: 24px;
}

.wide-wade {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.wide-wade section section h2 {
    text-align: center;
}

.container-prime {
    padding: 40px 0 80px 0;
    background-color: #282828;
    color: white;
}

footer {
    background-color: #131313;
    color: rgb(65, 65, 65);
    text-align: center;
    padding: 40px 0px 90px 0px;
}

.footer-container {
    width: 960px;
    margin: 0 auto;
}

.footer-container section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 10px 0;
}

.footer-container section h2 {
    padding: 0 0 0 0;
}


.footer-container section ul li {
    width: 121;
}