header {
    font-weight: 400;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    background-color: #ffffff;
    color: #ffffff;
}

.container {
    height: 100%;
    margin: 0px auto;
}

header {
    background-color: #ff7b9c;
    padding: 1.5rem;
    margin-bottom: 32rem;
    display: flex;
    justify-content: space-between;
} 



.inner-container {
    max-width: 64rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.flex-container section {
    width: 100vw;
    margin-bottom: 12rem;
    min-height: 20rem;
}

.flex-container section section{
    width: 70vw;
    margin: 0 15vw 0 15vw;
    min-height: 20rem;
    
}

.flex-container section h2 {
    padding-bottom: 24px;
    text-align: center;
}



h1{
    font-size: 1.5rem;
}

h3{
    font-size: 3.5rem;
    line-height: 4.3rem;
    font-family: var(--tofino-font);
}

section{
    background-color: rgb(224, 143, 56);
    
}

.head{
    flex-direction: row;
}


